
@model ICollection<Product>
<title>@ViewBag.Title</title>
<section class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-12">
				<div class="product-wrapper">
					<div class="product-grid">
						<div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3 g-sm-4">
							@foreach (Product pVm in Model)
							{
								<partial name="_CategoryProduct" model="@pVm" />
							}
						</div><!--end row-->
					</div>
					<hr>
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
</section>
