<title>Siparişiniz Alındı!</title>
<section class="py-4">
	<div class="container">
		<div class="card py-3 mt-sm-3">
			<div class="card-body text-center">
				<h2 class="h4 pb-3">Siparişiniz için teşekkür ederiz!</h2>
				<p class="fs-sm mb-2">Siparişiniz işleme alındı, en kısa sürede adresinize ulaştırılacaktır.</p>
			</div>
		</div>
	</div>
</section>